<section class="habilidades">
    <div id="habilidades" class="columns-divisor">
        <p class="hab1">¿Por qué elegirme?</p>
        <p class="hab2">Mi area de experiencia:</p>
    </div>

      <div class="container">
        <div class="row row-cols-2">
          <div class="col2">
            <div class="frontend">
                <p class="fend"><u><b>FRONTEND:</b></u></p>
                <p>HTML5</p>
                <p>CSS</p>
                <p>JSON</p>
                <p>BOOTSTRAP</p>
                <p>JAVASCRIPT</p>
                <p>ANGULAR</p>
            </div>
          </div>
          <div class="col2">
            <div class="backend">
                <p class="bend"><u><b>BACKEND:</b></u></p>
                <p>JAVA</p>  
                <p>MySQL</p>
                <p>JAVA WEB</p>
                <p>SPRING BOOT</p>
            </div>
          </div>
        </div>
      </div>
</section>