<div class="extras">
    <p class="title-extras">Aptitudes extras</p>
    <p>Buen nivel de inglés hablado y escrito</p>
    <p>Básico nivel de francés hablado y escrito</p>
    <p>Profesionalismo</p>
    <p>Seriedad</p>
</div>

<section id="contacto" class="contacto">
<h2>Contacto</h2>
<form action="#" class="contact-form">
    <div class="contact-inputs">
        <p><input type="text" placeholder="Nombre" class="contact-input"></p>
        <p><input type="mail" placeholder="Email" class="contact-input"></p>
        <p><input type="text" placeholder="Asunto" class="contact-input"></p>
    </div>

    <div>
        <textarea placeholder="Mensaje" name="" id="" cols="0" rows="10" class="contact-input"></textarea>
    </div>

    <p><input type="submit" value="Enviar mensaje" class="contact-button" id="contact-button"></p>
</form>
</section>

<footer>
<h2 id="footer-name">Walter Manuel Ferrufino</h2>
<h3 id="footer-subname">Full Stack Web Develloper</h3>
</footer>