<div id="inicio" ></div>
    <nav class="nav">
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"> <a href="#inicio" class="nav-link"> <b>Inicio</b> </a></li>
                <li class="nav-item"> <a href="#sobremi" class="nav-link"> <b>Sobre mí</b> </a></li>
                <li class="nav-item"> <a href="#habilidades" class="nav-link"> <b>Habilidades</b> </a></li>
                <li class="nav-item"> <a href="#contacto" class="nav-link"> <b>Contacto</b> </a></li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="iconos-header">
            <div class="logoap">  <img src="https://github.com/WalterFerrufino/Trabajo-Final-Integrador/blob/main/IMG/AP.png?raw=true"></div>
            <div class="logolinkedin-container">
                <a id="logo-linkedin" href="https://www.linkedin.com/in/walter-ferrufino/" target="_blank"><img src="https://github.com/WalterFerrufino/Trabajo-Final-Integrador/blob/main/IMG/logolinkedin.png?raw=true" alt="LinkedIn"></a>
            </div>
        </div>

        <section class="banner">
            <div class="banner-content">
                <h1>Walter Manuel Ferrufino</h1>
            </div>
        </section>
    </header>    
    
    <section class="inicio">
        <img src="https://github.com/WalterFerrufino/Trabajo-Final-Integrador/blob/main/IMG/perfil.jpg?raw=true" id="profile-picture" alt="Walter Manuel Ferrufino" title="Foto de Walter Manuel Ferrufino - Full Stack Web Develloper">        
        <h2 id="name-header">{{miPorfolio.name}}</h2>
        <h1 class="sub-h1">Full Stack Web Develloper</h1>
    </section>

    <script src="src\assets\scripts.js"></script>