<section id="sobremi" class="sobremi">
    <div class="presentacion">
        <h3 id="presentacion">Presentacón</h3>
        <h2>Acerca de mí</h2>
        <p id="text-sobremi">Hola, soy Walter Manuel Ferrufino y con mi formación como Full Satck Web Develloper poseo todas las habilidades necesarias para la creación y diseño de su sitio web.</p>
        

        
      <div class="btn-edit-sobremi">
        <div class="btn-edit" onclick="cambiar_parrafo()">
          <a href="#sobremi" class="btn-rigth">
            <i class="fa fa-pen" id="pen"></i>
          </a>    
        </div>
        <div>
          <input id="edit-sobremi" type="text" oninput="myFunction2(this.value)" style="display:none">
        </div>
      </div>

    </div>



    <div class="container">        
        <div class="row row-cols-2">
          <div class="col1">
            <div>
                <p id="info">Información</p>
            </div>
            <div>
                <p>Walter Manuel Ferrufino</p>
            </div>
            <div>
                <p>(011)68017126</p>
            </div>
            <div>
                <p>fmwalter@hotmail.com</p>                
            </div>
          </div>
          <div class="col1">
            <div>
                <p id="exp">Experiencia</p>
                <p>Programa Argentina #YoProgramo</p>
                <p>Finalizado y aprobado</p>
            </div>
            <div>
                <p>Soporte en línea 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </section>